@media (max-width: 990px) {
      * {
            margin: 0;
            padding: 0;
      }


      header .logo img {
            height: 120px;
            margin-left: -10px !important;
      }

      .container {
            margin: 0;
      }

      header .row {
            margin-left: 10px !important;
      }

      header input {
            margin-top: 23px !important;
            height: 30px;
            border: none;
            outline: none;
            width: 250px !important;
            font-size: 12px;
            padding-top: 5px;
      }

      nav .dropdown-master {
            display: none;
            position: absolute;
            z-index: 99;
            width: 200px;
            margin-left: -1px;
      }

      .adsense-blog {
            padding: 10px;
      }

      div.content-master .content-main .content-news {
            height: 180px;
      }

      div.content-master .content-main .content-news img {
            height: 100%;
      }


      div.content-master .content-main .content-news a {
            text-decoration: none;
      }

      div.content-master .content-main .content-news h3.description-header {
            padding-top: 5px;
            font-family: var(--content-font);
            color: var(--navbar-color);
            font-size: 18px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            margin: 0;
            cursor: pointer;
      }

      div.content-master .content-main .content-news span.description-time {
            font-family: var(--content-font);
            color: var(--date-color);
            font-size: 16px;
      }

      div.content-master .content-main .content-news p.description {
            font-family: var(--content-font);
            color: var(--categories-color);
            font-size: 16px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            margin: 0;
      }


      .content-main .download {
            padding: 10px;
            margin-left: 10px;
            width: 94%;
            display: flex;
            border-bottom: 1px solid var(--categories-color);
      }

      .content-main .download a img {
            width: 120px;
            margin-top: -30px;
            margin-bottom: -30px;
      }

      .content-main .download a img.app-store {
            margin-left: -8px;
            width: 85px;
      }

      .content-main .download a img.android-store {
            width: 140px;
            margin-top: -80px;
            margin-left: -15px;
            margin-bottom: -80px;
      }

      .content-main .social-links ul {
            display: flex;
            margin-top: 10px;
            margin-left: 10px;
            align-items: center;
      }


      .content-main .social-links ul li img {
            width: 20px;
            margin-bottom: 2px;
      }


      div.row .col-md-3 .content-main .social {
            padding: 10px;
            position: relative;
            overflow: hidden;
      }

      .content-main .social .background {
            width: 100%;
            position: relative;
      }

      .content-main .social .bg-black {
            width: 90.5%;
            margin: 10px;
            height: 84%;
            background-color: #000;
            position: absolute;
            opacity: .5;
            top: 0;
            left: 0;
            z-index: 98;
      }

      .content-main .social .social-body {
            width: 100%;
            height: 100%;
            overflow: hidden;
      }

      .content-main .social .social-body img {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 99;
            object-fit: cover;
      }

      .content-main .social .social-body .social-name {
            width: 72.6%;
            height: 30%;
            position: absolute;
            white-space: nowrap;
            overflow: hidden;
            z-index: 99;
            left: 60px;
            top: 20px;
      }

      .content-main .social .social-body .social-name a span {
            position: absolute;
            top: 18px;
      }

      .content-main .social .social-body .social-name a {
            font-size: 12px;
      }

      .content-main .social .social-body .social-contact {
            bottom: 16px;
            display: flex;
            justify-content: end;
            right: 20px;
      }

      .content-main .social .social-body .social-contact .contact {
            padding: 5px 15px;
            margin-right: 3px;
      }

      .content-main .social .social-body .social-contact .contact i {
            font-size: 20px;
      }

      div.categories-list ul li a {
            font-size: 14px;
      }

      header .social {
            display: block;
            margin-top: 7px;
            margin-left: -20px !important;
      }

      header .social ul li a {
            color: var(--header-color);
            margin-bottom: 8px;
      }

}


@media (max-width: 575.98px) {

      *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
      }

      header {
            padding: 0 !important;
            right: 0;
      }

      .hot-news,
      .clock {
            display: none !important;
      }

      marquee {
            padding: 0 !important;
      }

      .marquee-style {
            padding: 0 !important;
      }

      header .logo img {
            height: 90px;
      }

      .carousel-inner .carousel-item,
      .carousel-inner img {
            height: 255px;
            object-fit: cover;
      }

      .adsense {
            height: auto !important;
            box-sizing: border-box;
      }

      .adsense .ads-video {
            height: 200px;
      }

      .content-master .header h4 {
            padding: 15px 0px 15px 20px;
            font-weight: bold;
            font-size: 22px;
            margin: 0;
            font-family: var(--content-font);
            color: var(--header-bg);
      }

}